html, .devweather {
  background: #6297B6;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  text-align: center;
}

.devweather-headline {
  color: #FFF;
  font-size: 4rem;
  font-weight: 300;
}

#city-input {
  background: transparent;
  color: #fff;
  font: 300 14px Nunito;
  padding: 10px 20px;
  text-align: center;
}

#city-input, #state-selector {
  border-radius: 5px;
  display: block;
  font-size: 1.75rem;
  margin: 10px auto
}

.get-forecast-button {
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: 20px;
  padding: 10px;
}

.forecast-headline,
.recent-searches-headline,
.recent-city {
  color: #FFF;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.forecast-container {
  display: flex;
  justify-content: center;
}

.forecast-day {
  background: #fff;
  flex: 0 0 15%;
  margin: 0 5px;
  -webkit-box-shadow: 0 5px 3px #333;
	-moz-box-shadow: 0 5px 3px #333;
	box-shadow: 0 5px 3px #333;
}

.recent-city-container {
  display: flex;
  justify-content: center;
}

.recent-city {
  margin: 10px 30px;
}